*.VC.db
*.apk
*.booproj
*.csproj
*.mdb
*.mdb.meta
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.sln
*.suo
*.svd
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs
.DS_Store
.consulo/
.gradle/
.idea/
.vs/
Assets/AssetStoreTools*
ExportedObj/
[Aa]ssets/Plugins/Editor/JetBrains*
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Mm]emoryCaptures/
[Oo]bj/
[Tt]emp/
crashlytics-build.properties
mono_crash*json
sysinfo.txt
